$mobile: 375px;
$tablet: 768px;
$big-tablet: 1024px;
$desktop: 1280px;

body {
    @media screen and (max-width: $big-tablet) {
        .news {
            margin: 0 30px;

            &__title {
                margin: 25px;
            }
        }

        .news-block {
            &__title {
                margin: 20px 0px;
            }

            &__date {
                max-width: 70px;
            }

            &__main {
                flex-direction: column;
                padding: 30px;
                gap: 15px;
            }
        }
    }

    @media screen and (min-width:1023px) {
        #navbar {
            display: none;
        }

        .nav-menu {
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: space-between;
            margin-left: 3rem;
        }
    }

    @media screen and (min-width:767px) and (max-width:1023px) {
        #navbar {
            display: none;
        }
        .nav-menu {
            display: flex;
            flex-direction: column;
            margin-left: 5rem;
        }
    }
    
    @media screen and (min-width:300px) and (max-width:766px) {
        .menu-logo {
            display: none;
        }
    }

    @media screen and (max-width: 650px) {
        .ecc__card {
            height: 17rem;
            width: 17rem;
        }

        .ecc__heading {
            font-size: 2rem;
            margin-top: .1rem;
        }

        .ecc__inside-heading {
            padding-bottom: 0.2rem;
            font-size: 1.5rem;
            margin-top: .1rem;
        }

        .ecc__view {
            font-size: 1.5rem;
            margin-top: .1rem;
        }

        .ecc__desc {
            font-size: 1.5rem;
            margin-top: .1rem;
        }

        .ecc__icon {
            font-size: 4vw;
            height: 4.5rem;
            width: 4.5rem;
        }

        .ecc__btn {
            border: 1px solid;
            font-size: 1.2rem;
            margin-top: 0.3rem;
            padding: .2rem .35rem;
            width: 90%;
        }

        .ecc__text {
            font-size: 1rem
        }

        .ecc__flip-card {
            height: 17rem;
            width: 17rem;
        }

        .ecc__top {
            height: 14rem;
            padding: 1rem 1rem 1.5rem 1rem;
        }

        .ecc__img img {
            min-height: 17rem;
        }

        .ecc__inside-page {
            padding: 0.5rem;
            width: 17rem;
        }

        .ecc__card:hover {
            width: 34rem;
        }
    }

    @media (max-width: 550px) {
        .ecc__card {
            height: 15rem;
            width: 15rem;
        }

        .ecc__heading {
            font-size: 1.6rem;
        }

        .ecc__inside-heading {
            font-size: 1.3rem;
        }

        .ecc__view {
            font-size: 1.4rem;
        }

        .ecc__desc {
            font-size: 1.3rem;
        }

        .ecc__icon {
            font-size: 3vw;
            height: 3.5rem;
            width: 3.5rem;
        }

        .ecc__btn {
            font-size: 1rem;
        }

        .ecc__text {
            font-size: 0.85rem
        }

        .ecc__flip-card {
            height: 15rem;
            width: 15rem;
        }

        .ecc__top {
            height: 12rem;
            padding: 1.3rem 1rem;
        }

        .ecc__img img {
            min-height: 15rem;
        }

        .ecc__inside-page {
            width: 15rem;
        }

        .ecc__card:hover {
            width: 30rem;
        }
    }
    
    
    @media (max-width: 470px) {
        .ecc__card {
            height: 13rem;
            width: 13rem;
        }

        .ecc__inside-heading {
            font-size: 1.2rem;
        }

        .ecc__btn {
            padding: .1rem .35rem;
            font-size: 1rem;
        }

        .ecc__text {
            font-size: 0.75rem
        }

        .ecc__flip-card {
            height: 13rem;
            width: 13rem;
        }

        .ecc__top {
            height: 10.5rem;
            padding: 1.3rem 1rem;
        }

        .ecc__img img {
            min-height: 13rem;
        }

        .ecc__inside-page {
            width: 13rem;
        }

        .ecc__card:hover {
            width: 26rem;
        }
    }

    @media (max-width: 400px) {
        .ecc__card {
            height: 11rem;
            width: 11rem;
        }

        .ecc__heading {
            font-size: 1.3rem;
        }

        .ecc__inside-heading {
            font-size: 1rem;
        }

        .ecc__view {
            font-size: 1.1rem;
        }

        .ecc__desc {
            font-size: 1.2rem;
        }

        .ecc__icon {
            font-size: 2vw;
            height: 2.5rem;
            width: 2.5rem;
        }

        .ecc__btn {
            font-size: 0.8rem;
        }

        .ecc__text {
            font-size: 0.65rem
        }

        .ecc__flip-card {
            height: 11rem;
            width: 11rem;
        }

        .ecc__top {
            height: 8.5rem;
            padding: 1.3rem 1rem;
        }

        .ecc__img img {
            min-height: 11rem;
        }

        .ecc__inside-page {
            width: 11rem;
            padding: 0.2rem;
        }

        .ecc__card:hover {
            width: 22rem;
        }
    }
    
    @media (max-width: 350px) {
        .ecc__card {
            height: 9rem;
            width: 9rem;
        }

        .ecc__heading {
            font-size: 1rem;
            padding-bottom: 0;
        }

        .ecc__inside-heading {
            font-size: 0.8rem;
        }

        .ecc__view {
            font-size: 0.9rem;
        }

        .ecc__desc {
            font-size: 0.9rem;
        }

        .ecc__icon {
            font-size: 2vw;
            height: 2.5rem;
            width: 2.5rem;
        }

        .ecc__btn {
            font-size: 0.65rem;
        }

        .ecc__text {
            font-size: 0.55rem
        }

        .ecc__flip-card {
            height: 9rem;
            width: 9rem;
        }

        .ecc__top {
            height: 7rem;
            padding: 1rem 1rem 1.2rem 1rem;
        }

        .ecc__img img {
            min-height: 9rem;
        }

        .ecc__inside-page {
            width: 9rem;
            padding: 0.1rem;
        }

        .ecc__card:hover {
            width: 18rem;
        }
    }

    @media screen and (max-width: $tablet) {
        .footer{
            &__logo{
                display: none;
            }
        }
    }
}
