@media screen and (max-width: 1025px) {
  body .news {
    margin: 0 30px;
  }
  body .news__title {
    margin: 25px;
  }
  body .news-block__title {
    margin: 20px 0px;
  }
  body .news-block__date {
    max-width: 70px;
  }
  body .news-block__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    gap: 15px;
  }
}

@media screen and (min-width: 1023px) {
  body #navbar {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  body #navbar {
    display: none;
  }
  body .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 766px) {
  body .menu-logo {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  body .ecc__card {
    height: 17rem;
    width: 17rem;
  }
  body .ecc__heading {
    font-size: 2rem;
    margin-top: .1rem;
  }
  body .ecc__inside-heading {
    padding-bottom: 0.2rem;
    font-size: 1.5rem;
    margin-top: .1rem;
  }
  body .ecc__view {
    font-size: 1.5rem;
    margin-top: .1rem;
  }
  body .ecc__desc {
    font-size: 1.5rem;
    margin-top: .1rem;
  }
  body .ecc__icon {
    font-size: 4vw;
    height: 4.5rem;
    width: 4.5rem;
  }
  body .ecc__btn {
    border: 1px solid;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    padding: .2rem .35rem;
    width: 90%;
  }
  body .ecc__text {
    font-size: 1rem;
  }
  body .ecc__flip-card {
    height: 17rem;
    width: 17rem;
  }
  body .ecc__top {
    height: 14rem;
    padding: 1rem 1rem 1.5rem 1rem;
  }
  body .ecc__img img {
    min-height: 17rem;
  }
  body .ecc__inside-page {
    padding: 0.5rem;
    width: 17rem;
  }
  body .ecc__card:hover {
    width: 34rem;
  }
}

@media (max-width: 550px) {
  body .ecc__card {
    height: 15rem;
    width: 15rem;
  }
  body .ecc__heading {
    font-size: 1.6rem;
  }
  body .ecc__inside-heading {
    font-size: 1.3rem;
  }
  body .ecc__view {
    font-size: 1.4rem;
  }
  body .ecc__desc {
    font-size: 1.3rem;
  }
  body .ecc__icon {
    font-size: 3vw;
    height: 3.5rem;
    width: 3.5rem;
  }
  body .ecc__btn {
    font-size: 1rem;
  }
  body .ecc__text {
    font-size: 0.85rem;
  }
  body .ecc__flip-card {
    height: 15rem;
    width: 15rem;
  }
  body .ecc__top {
    height: 12rem;
    padding: 1.3rem 1rem;
  }
  body .ecc__img img {
    min-height: 15rem;
  }
  body .ecc__inside-page {
    width: 15rem;
  }
  body .ecc__card:hover {
    width: 30rem;
  }
}

@media (max-width: 470px) {
  body .ecc__card {
    height: 13rem;
    width: 13rem;
  }
  body .ecc__inside-heading {
    font-size: 1.2rem;
  }
  body .ecc__btn {
    padding: .1rem .35rem;
    font-size: 1rem;
  }
  body .ecc__text {
    font-size: 0.75rem;
  }
  body .ecc__flip-card {
    height: 13rem;
    width: 13rem;
  }
  body .ecc__top {
    height: 10.5rem;
    padding: 1.3rem 1rem;
  }
  body .ecc__img img {
    min-height: 13rem;
  }
  body .ecc__inside-page {
    width: 13rem;
  }
  body .ecc__card:hover {
    width: 26rem;
  }
  body .contact {
    margin: 0 auto;
  }
  body .contact__map {
    height: 450px;
  }
  body .contact__container {
    margin: 10px 10px 10px 50px;
  }
  body .partners {
    margin: 0 auto 6rem;
  }
  body .partners__img {
    width: 280px;
  }
  body .partners__cart {
    -ms-grid-columns: (280px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 280px);
    gap: 20px;
  }
}

@media (max-width: 400px) {
  body .ecc__card {
    height: 11rem;
    width: 11rem;
  }
  body .ecc__heading {
    font-size: 1.3rem;
  }
  body .ecc__inside-heading {
    font-size: 1rem;
  }
  body .ecc__view {
    font-size: 1.1rem;
  }
  body .ecc__desc {
    font-size: 1.2rem;
  }
  body .ecc__icon {
    font-size: 2vw;
    height: 2.5rem;
    width: 2.5rem;
  }
  body .ecc__btn {
    font-size: 0.8rem;
  }
  body .ecc__text {
    font-size: 0.65rem;
  }
  body .ecc__flip-card {
    height: 11rem;
    width: 11rem;
  }
  body .ecc__top {
    height: 8.5rem;
    padding: 1.3rem 1rem;
  }
  body .ecc__img img {
    min-height: 11rem;
  }
  body .ecc__inside-page {
    width: 11rem;
    padding: 0.2rem;
  }
  body .ecc__card:hover {
    width: 22rem;
  }
}

@media (max-width: 350px) {
  body .ecc__card {
    height: 9rem;
    width: 9rem;
  }
  body .ecc__heading {
    font-size: 1rem;
    padding-bottom: 0;
  }
  body .ecc__inside-heading {
    font-size: 0.8rem;
  }
  body .ecc__view {
    font-size: 0.9rem;
  }
  body .ecc__desc {
    font-size: 0.9rem;
  }
  body .ecc__icon {
    font-size: 2vw;
    height: 2.5rem;
    width: 2.5rem;
  }
  body .ecc__btn {
    font-size: 0.65rem;
  }
  body .ecc__text {
    font-size: 0.55rem;
  }
  body .ecc__flip-card {
    height: 9rem;
    width: 9rem;
  }
  body .ecc__top {
    height: 7rem;
    padding: 1rem 1rem 1.2rem 1rem;
  }
  body .ecc__img img {
    min-height: 9rem;
  }
  body .ecc__inside-page {
    width: 9rem;
    padding: 0.1rem;
  }
  body .ecc__card:hover {
    width: 18rem;
  }
}

@media screen and (max-width: 768px) {
  body .footer__logo {
    display: none;
  }
}
/*# sourceMappingURL=media.css.map */