$mobile: 375px;
$tablet: 768px;
$big-tablet: 1025px;
$desktop: 1280px;

body {
    @media screen and (max-width: $big-tablet) {
        .news {
            margin: 0 30px;

            &__title {
                margin: 25px;
            }
        }

        .news-block {
            &__title {
                margin: 20px 0px;
            }

            &__date {
                max-width: 70px;
            }

            &__main {
                flex-direction: column;
                padding: 30px;
            }
        }
    }

    @media screen and (min-width:1023px) {
        #navbar {
            display: none;
        }
    }

    @media screen and (min-width:767px) and (max-width:1023px) {
        #navbar {
            display: none;
        }
        .nav-menu {
            display: flex;
            flex-direction: column;
            margin-left: 5rem;
        }
    }
    
    @media screen and (min-width:300px) and (max-width:766px) {
        .menu-logo {
            display: none;
        }
    }

    @media screen and (max-width: 550px) {
        .ecc__card {
            height: 15rem;
            width: 15rem;
        }

        .ecc__heading {
            font-size: 1.5rem;
            margin-top: .1rem;
        }

        .ecc__inside-heading {
            padding-bottom: 0.2rem;
            font-size: 1.2rem;
            margin-top: .1rem;
        }

        .ecc__view {
            font-size: 1.3rem;
            margin-top: .1rem;
        }

        .ecc__desc {
            font-size: 1.3rem;
            margin-top: .1rem;
        }

        .ecc__icon {
            font-size: 3vw;
            height: 3.5rem;
            width: 3.5rem;
        }

        .ecc__btn {
            border: 1px solid;
            font-size: 1rem;
            margin-top: 0.3rem;
            padding: .2rem .35rem;
            width: 90%;
        }

        .ecc__text {
            font-size: 0.8rem
        }

        .ecc__flip-card {
            height: 15rem;
            width: 15rem;
        }

        .ecc__top {
            height: 12rem;
            padding: 1.5rem 1rem;
        }

        .ecc__img img {
            min-height: 15rem;
        }

        .ecc__inside-page {
            padding: 0.5rem;
            width: 15rem;
        }

        .ecc__card:hover {
            width: 30rem;
        }
    }

    @media (max-width: 480px) {
        .ecc__card {
            height: 12rem;
            width: 12rem;
        }

        .ecc__heading {
            font-size: 1.2rem;
            margin-top: .1rem;
        }

        .ecc__inside-heading {
            padding-bottom: 0.2rem;
            font-size: 1rem;
            margin-top: .1rem;
        }

        .ecc__view {
            font-size: 1.1rem;
            margin-top: .1rem;
        }

        .ecc__desc {
            font-size: 1.1rem;
            margin-top: .1rem;
        }

        .ecc__icon {
            font-size: 3vw;
            height: 3.5rem;
            width: 3.5rem;
        }

        .ecc__btn {
            border: 1px solid;
            font-size: 0.8rem;
            margin-top: 0.3rem;
            padding: .2rem .35rem;
            width: 90%;
        }

        .ecc__text {
            font-size: 0.6rem
        }

        .ecc__flip-card {
            height: 12rem;
            width: 12rem;
        }

        .ecc__top {
            height: 10rem;
            padding: 1.3rem 1rem;
        }

        .ecc__img img {
            min-height: 12rem;
        }

        .ecc__inside-page {
            padding: 0.5rem;
            width: 12rem;
        }

        .ecc__card:hover {
            width: 24rem;
        }
    }
    
    @media (max-width: 390px) {
        .ecc__card {
            height: 10rem;
            width: 10rem;
        }

        .ecc__heading {
            font-size: 1rem;
            margin-top: .2rem;
        }

        .ecc__inside-heading {
            padding-bottom: 0.3rem;
            font-size: 1rem;
            margin-top: 0.5rem;
        }

        .ecc__view {
            font-size: 1rem;
            margin-top: .4rem;
        }

        .ecc__desc {
            font-size: 1rem;
            margin-top: .2rem;
        }

        .ecc__icon {
            font-size: 2vw;
            height: 3rem;
            width: 3rem;
        }

        .ecc__btn {
            font-size: 0.5rem;
            margin-top: 0.2rem;
            padding: .2rem .35rem;
            width: 80%;
        }

        .ecc__text {
            font-size: 0.6rem
        }

        .ecc__flip-card {
            height: 10rem;
            width: 10rem;
        }

        .ecc__top {
            height: 8rem;
            padding: 1rem 0.3rem;
        }

        .ecc__img img {
            min-height: 10rem;
        }

        .ecc__inside-page {
            padding: 0.3rem;
            width: 10rem;
        }

        .ecc__card:hover {
            width: 20rem;
        }
    }

    @media (max-width: 320px) {
        .ecc__card {
            height: 8rem;
            width: 8rem;
        }

        .ecc__heading {
            font-size: 0.8rem;
            margin-top: .1rem;
        }

        .ecc__inside-heading {
            padding-bottom: 0.2rem;
            font-size: 0.7rem;
            margin-top: 0.3rem;
        }

        .ecc__view {
            font-size: 0.7rem;
            margin-top: .4rem;
        }

        .ecc__desc {
            font-size: 0.7rem;
            margin-top: .1rem;
        }

        .ecc__icon {
            font-size: 1vw;
            height: 2rem;
            width: 2rem;
        }

        .ecc__btn {
            font-size: 0.5rem;
            margin-top: 0.2rem;
            padding: .1rem .35rem;
            width: 80%;
        }

        .ecc__text {
            font-size: 0.5rem
        }

        .ecc__flip-card {
            height: 8rem;
            width: 8rem;
        }

        .ecc__top {
            height: 6rem;
            padding: 0.8rem 0.3rem;
        }

        .ecc__img img {
            min-height: 8rem;
        }

        .ecc__inside-page {
            padding: 0.3rem;
            width: 8rem;
        }

        .ecc__card:hover {
            width: 16rem;
        }
    }
}

