/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

/*Excursions, coliving, coworking*/

.wrapper {
  background: linear-gradient(
    to bottom right,
    #eee8dd,
    #e3d9c6
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /*height: 100vh;*/
}

.ecc {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

.ecc__section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.ecc__card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

.ecc__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

.ecc__inside-heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

.ecc__inside-heading,
.ecc__view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.ecc__inside-heading_exc,
.ecc__view_exc { color: #585858; }

.ecc__inside-heading_coliv,
.ecc__view_coliv { color: #5e5e5e; }

.ecc__inside-heading_cowor,
.ecc__view_cowor { color: #787777; }

.ecc__inside-heading_tea,
.ecc__view_tea { color: #878786; }


.ecc__top { color: #fafbfa; }

.ecc__price {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

.ecc__text {
  color: #333;
}

.ecc__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.5rem;
  margin-top: -.5rem;
  width: 3.5rem;
}

.ecc__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.3rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.ecc__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.ecc__btn_exc { 
  border-color: #585858;
  color: #585858;
}

.ecc__btn_exc::before { 
  background-color: #585858;
}

.ecc__btn_coliv { 
  border-color: #5e5e5e;
  color: #5e5e5e;
}

.ecc__btn_coliv::before { 
  background-color: #5e5e5e;
}

.ecc__btn_cowor { 
  border-color: #787777;
  color: #787777;
}

.ecc__btn_cowor::before { 
  background-color: #787777;
}

.ecc__btn_tea { 
    border-color: #878786;
    color: #878786;
}
  
.ecc__btn_tea::before { 
    background-color: #878786;
}

.ecc__btn:hover { 
  color: #fafbfa;
}

.ecc__btn:hover::before { 
  transform: scaleY(1);
}

.ecc__flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

.ecc__flip-card > * {
  visibility: visible;
}

.ecc__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.ecc__card-front,
.ecc__card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ecc__card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

.ecc__top {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.ecc__top_exc {
  background: linear-gradient(
    to bottom,
    #787777,
    #585858
  );
}

.ecc__top_coliv {
  background: linear-gradient(
    to bottom,
    #878786,
    #5e5e5e
  );
}

.ecc__top_cowor {
  background: linear-gradient(
    to bottom,
    #919090,
    #787777
  );
}

.ecc__top_tea {
    background: linear-gradient(
      to bottom,
      #9f9f9f,
      #878786
    );
}
  

.ecc__desc {
    margin-top: 5px;
    font-weight: 300;
    font-size: 0.95rem;
}

.ecc__bot {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ecc__card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

.ecc__img img {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.ecc__inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.ecc__inside-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

.ecc__card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

.ecc__card:hover .ecc__container {
  transform: rotateY(-180deg);
}

.ecc__card:hover .ecc__inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}
