$black: #000;
$main-font: 'Roboto',
sans-serif;
$white: #fff;
$gray: rgb(192, 188, 188);

html {
    font-size: 10px;
}

body {
    font-family: $main-font;
    font-size: 16px;
}

/* News */
.news {
    max-width: 80vw;
    margin: 0 auto;

    &__title {
        font-size: 4.8rem;
        text-align: center;
    }
}

.news-container {
    &:last-child {
        border-bottom: 1px solid $black;
    }
}

.news-block {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
    }

    &__title {
        font-size: 3.6rem;
        margin: 30px 0px;
    }

    &__date {
        max-width: 100px;
        font-size: 2rem;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        padding: 65px 30px;
    }

    &__img {
        &_news1 {
            background-image: url(/assets/img/grandma.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-width: 360px;
            height: 260px;
        }

        &_news2 {
            background-image: url(/assets/img/sunduki-5.jpg);
            background-size: cover;
            background-position: 84% 16%;
            background-repeat: no-repeat;
            min-width: 360px;
            height: 260px;
        }
    }

    &__text {
        font-size: 2rem;
        text-align: center;
        max-width: 700px;
        margin: 0;
    }
}

/* CSS reset */
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/*Excursions, coliving, coworking*/

.wrapper {
    background: linear-gradient(to bottom right,
            #eee8dd,
            #e3d9c6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /*height: 100vh;*/
}

.ecc {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-evenly;
    padding: 1rem;

    &__section {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    &__card {
        background-color: rgba(0, 0, 0, .05);
        box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
        height: 15rem;
        position: relative;
        transition: all 1s ease;
        width: 15rem;
    }

    &__heading {
        font-size: 1.5rem;
        margin-top: .25rem;
    }

    &__inside-heading {
        padding-bottom: 1rem;
        width: 100%;
    }

    &__inside-heading,
    &__view {
        font-size: 1.3rem;
        font-weight: 800;
        margin-top: .2rem;
    }

    &__inside-heading_exc,
    &__view_exc {
        color: #585858;
    }

    &__inside-heading_coliv,
    &__view_coliv {
        color: #5e5e5e;
    }

    &__inside-heading_cowor,
    &__view_cowor {
        color: #787777;
    }

    &__inside-heading_tea,
    &__view_tea {
        color: #878786;
    }


    &__top {
        color: #fafbfa;
    }

    &__desc {
        font-size: 0.95rem;
        margin-top: .2rem;
    }

    &__text {
        color: #333;
    }

    &__icon {
        fill: #fafbfa;
        font-size: 3vw;
        height: 3.5rem;
        margin-top: -.5rem;
        width: 3.5rem;
    }

    &__btn {
        background-color: transparent;
        border: 3px solid;
        border-radius: .5rem;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 0.3rem;
        overflow: hidden;
        padding: .7rem .75rem;
        position: relative;
        text-decoration: none;
        transition: all .3s ease;
        width: 90%;
        z-index: 10;
    }

    &__btn::before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scaleY(0);
        transition: all .3s ease;
        width: 100%;
        z-index: -1;
    }

    &__btn_exc {
        border-color: #585858;
        color: #585858;
    }

    &__btn_exc::before {
        background-color: #585858;
    }

    &__btn_coliv {
        border-color: #5e5e5e;
        color: #5e5e5e;
    }

    &__btn_coliv::before {
        background-color: #5e5e5e;
    }

    &__btn_cowor {
        border-color: #787777;
        color: #787777;
    }

    &__btn_cowor::before {
        background-color: #787777;
    }

    &__btn_tea {
        border-color: #878786;
        color: #878786;
    }

    &__btn_tea::before {
        background-color: #878786;
    }

    &__btn:hover {
        color: #fafbfa;
    }

    &__btn:hover::before {
        transform: scaleY(1);
    }

    &__flip-card {
        height: 15rem;
        perspective: 100rem;
        position: absolute;
        right: 0;
        transition: all 1s ease;
        visibility: hidden;
        width: 15rem;
        z-index: 100;
    }

    &__flip-card>* {
        visibility: visible;
    }

    &__container {
        height: 100%;
        position: absolute;
        right: 0;
        transform-origin: left;
        transform-style: preserve-3d;
        transition: all 1s ease;
        width: 100%;
    }

    &__card-front,
    &__card-back {
        backface-visibility: hidden;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__card-front {
        background-color: #fafbfa;
        height: 15rem;
        width: 15rem;
    }

    &__top {
        align-items: center;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
        display: flex;
        flex-direction: column;
        height: 12rem;
        justify-content: center;
        padding: .75rem;
    }

    &__top_exc {
        background: linear-gradient(to bottom,
                #787777,
                #585858);
    }

    &__top_coliv {
        background: linear-gradient(to bottom,
                #878786,
                #5e5e5e);
    }

    &__top_cowor {
        background: linear-gradient(to bottom,
                #919090,
                #787777);
    }

    &__top_tea {
        background: linear-gradient(to bottom,
                #9f9f9f,
                #878786);
    }

    &__bot {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__card-back {
        background-color: #fafbfa;
        transform: rotateY(180deg);
    }

    &__img img {
        clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
        height: auto;
        min-height: 100%;
        object-fit: cover;
        width: 100%;
        object-position: center;
    }

    &__inside-page {
        background-color: #fafbfa;
        box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
        height: 100%;
        padding: 1rem;
        position: absolute;
        right: 0;
        transition: all 1s ease;
        width: 15rem;
        z-index: 1;
    }

    &__inside-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        width: 100%;
    }

    &__card:hover {
        box-shadow:
            -.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
        width: 30rem;
    }

    &__card:hover .ecc__container {
        transform: rotateY(-180deg);
    }

    &__card:hover .ecc__inside-page {
        box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
    }
}